<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>关键词回复</title>
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1, minimum-scale=1"
    />
    <link
      rel="shortcut icon"
      href="//static.tcy365.com/uc/common/images/favicon.ico"
    />
    <!-- 代码调试(非正式环境) start -->
    <div data-hide-env="production">
      <script src="https://static.tcy365.com/cdn/eruda/1.5.4/eruda.js"></script>
      <script>
        eruda.init();
      </script>
    </div>
    <div data-env="production">
      123
    </div>
    <div data-env="1506">
      1234
    </div>
    <!-- start 不要修改 -->
    <% if(process.env.NODE_ENV !== "development") { %>
    <meta name="AppPublic" content="<ctAppPublic>" />
    <script>
      window.CTPrefConfig = {
        version: '<ctVersion>',
        env: '<ctEnv>'
      };
    </script>
    <% }else{ %>
    <script>
      window.CTPrefConfig = {
        version: 'development',
        env: 'development'
      };
    </script>
    <% } %>
    <script>
      !(function(e, t) {
        var n = t.documentElement,
          d = e.devicePixelRatio || 1;

        function i() {
          var w =
            n.clientWidth > n.clientHeight ? n.clientHeight : n.clientWidth;
          var CW = w < 320 ? 320 : w;
          var e = CW / 7.5;
          n.style.fontSize = e + 'px';
        }
        if (
          ((function e() {
            t.body
              ? (t.body.style.fontSize = '16px')
              : t.addEventListener('DOMContentLoaded', e);
          })(),
          i(),
          e.addEventListener('resize', i),
          e.addEventListener('pageshow', function(e) {
            e.persisted && i();
          }),
          d >= 2)
        ) {
          var o = t.createElement('body'),
            a = t.createElement('div');
          (a.style.border = '.5px solid transparent'),
            o.appendChild(a),
            n.appendChild(o),
            1 === a.offsetHeight && n.classList.add('hairlines'),
            n.removeChild(o);
        }
      })(window, document);
    </script>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
    <% } %>
    <!-- end 不要修改 -->
    <!-- <script src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script> -->
    <% if(process.env.BUCheckAppId !== "") { %>
    <script>
      var PageConfig = {
        jstracker: {
          app: '<%=process.env.BUCheckAppId%>'
        }
      };
      window.JSTracker = window.JSTracker || [];
    </script>
    <% } %>
  </head>

  <body>
    <div id="app"></div>
    <!-- start 不要修改 -->
    <!-- built files will be auto injected 不要修改 -->
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script
      type="text/javascript"
      src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"
    ></script>
    <% } %>
    <!-- end 不要修改 -->
    <% if(process.env.BUCheckAppId !== "") { %>
    <script
      src="//static.tcy365.com/cdn/jstracker/3.0.1/jstracker.js?t=1"
      type="text/javascript"
      crossorigin
    ></script>
    <% } %>
  </body>
</html>
